@model Overtime.Areas.Admin.ViewModel.PositionsIndexVM



<div>
    <a href="@Url.Action("Create", "Positions", new { area = "admin" })" class="btn btn-primary  pull-left">درجة علمية  جديد <i class="fa fa-plus"></i></a>
</div>



<table class="table table-striped">
    <thead>
        <tr>
            <td colspan="4">

                @Html.Partial("../../Views/Shared/Partial/_paggination", @Model.Paggination)

            </td>
        </tr>
        <tr>
            <th>الدرجة</th>
            <th>أنشىء بواسطة</th>
            <th>أنشىء فى </th>
            <th>عمليات </th>
        </tr>

    </thead>
    @foreach (var item in Model.Positions)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.CreatedBy
            </td>
            <td>
                @item.CreatedTime.ToShortDateString()
            </td>
            <td>
                <div class="btn-group btn-group-xs  ">
                    <a href="@Url.Action("Edit", "Positions", new {id = @item.Id, area = "admin"})" class="btn btn-primary ">


                        <span class="fa fa-pencil"></span> تعديل
                    </a>
                    @if (!item.IsDeleted)
                    {
                        <div class="btn-group btn-group-xs">
                            <a href="@Url.Action("trash", "Positions", new { id = item.Id })"
                               class="btn btn-danger"
                               data-post="هل تريد ألغاء الدرجة @item.Name">
                                سلة المهملات <i class="fa fa-trash"></i>
                            </a>
                            <a href="#" class="btn btn-danger dropdown-toggle"
                               data-toggle="dropdown">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu ">
                                <li>
                                    <a href="@Url.Action("delete", "Positions", new { id = item.Id })" data-post="هل تريد حذف الدرجة حذف نهائى ؟!!">
                                        <i class="fa fa-remove"></i>
                                        حذف
                                    </a>
                                </li>
                            </ul>

                        </div>
                    }
                    else
                    {
                        <a href="@Url.Action("restore", "Positions", new {id = item.Id})"
                           class="btn btn-success"
                           data-post>
                            أعادة القسم <i class="fa fa-retweet"></i>
                        </a>

                    }
                </div>


            </td>
        </tr>

    }
</table>
