@model Overtime.Areas.Admin.ViewModel.UsersIndexVM

<div>
    <a href="@Url.Action("Create", "Users", new {area = "admin"})" class="btn btn-primary  pull-left">مستخدم جديد <i class="fa fa-user-plus"></i></a>
</div>


<table class="table table-striped">
    <thead>
    <tr>
        <td colspan="4">

            @Html.Partial("../../Views/Shared/Partial/_paggination", @Model.Paggination)

        </td>
    </tr>
    <tr>
        <th>أسم المستخدم</th>
        <th>أنشىء بواسطة</th>
        <th>أنشىء فى </th>
        <th>صلاحيات المستخدم</th>
        <th>عمليات </th>
    </tr>

    </thead>
    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.CreatedBy
            </td>
            <td>
                @item.CreatedTime.ToShortDateString()
            </td>

            <td>
                @foreach (var role in item.Roles)
                {
                    <span class="badge">@role.Name</span>
                }

            </td>
            <td>
                <div class="btn-group btn-group-xs  ">
                    <a href="@Url.Action("Edit", "Users", new {id = @item.Id, area = "admin"})" class="btn btn-primary ">


                        <i class="fa fa-user-md"></i> تعديل
                    </a>
                    <a href="@Url.Action("ResetPassword", "Users", new {id = @item.Id, area = "admin"})" class="btn btn-default ">


                        <i class="fa fa-key"></i> أعادة كلمة المرور
                    </a>


                    @if (User.IsInRole("admin"))
                    {
                        <a href="@Url.Action("delete", "Users")" data-post="هل تريد حذف حذف المستخدك نهائى ؟!!" data-id="@item.Id" class="btn btn-danger">
                            <i class="fa fa-user-times"></i>
                            حذف
                        </a>
                    }



                </div>

            </td>
        </tr>
    }
</table>