@model Overtime.Areas.Admin.ViewModel.ResetPasswordVM



<h2>تغيير الباسور ل @Model.Name </h2>

@using (Html.BeginForm())
{
    <div class="input-group">
        @Html.HiddenFor(x => x.Id)
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>
    <input type="submit" class="btn btn-primary" value="تغيير الباسورد"/>
    <a href="@Url.Action("index", "Home", new {area = "admin"})">رجوع</a>
}
