<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("كلية الطب ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand " })
       
        </div>
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li> <a href="@Url.RouteUrl("Logout")">خروج</a></li>
                    <li> <a href="@Url.RouteUrl("Login")">أنشاء أستمارة</a></li>
                    <li> <a href="@Url.RouteUrl("Login")">الأرشيف</a></li>
                    if (User.IsInRole("admin"))
                    {
                        <li> <a href="@Url.RouteUrl("admin")">مدير الصفحة</a></li>
                    }
                }
                else
                {

                    <li> <a href="@Url.RouteUrl("Login")">دخول</a></li>
                }



            </ul>
        </div>
    </div>
</div>