@using Overtime.Areas.Admin.ViewModel
@model BranchIndexVM

@foreach (var branch in Model.Branches)
{
    <tr>
        <td>
            @branch.Id
        </td>
        <td>
            @branch.Name
        </td>
        <td>
            @branch.BankId
        </td>
        <td>
            <div class="btn-group btn-group-xs  ">
                <a href="@Url.Action("Edit", "Branches", new {id = @branch.Id, area = "admin"})" class="btn btn-primary ">


                    <span class="fa fa-pencil"></span> تعديل
                </a>
                <a href="@Url.Action("delete", "Branches", new {id = @branch.Id})" data-post="هل تريد حذف الدرجة حذف نهائى ؟!!" class="btn btn-danger">
                    <i class="fa fa-remove"></i>
                    حذف
                </a>


                @*@if (!item.IsDeleted)
                {
                    <div class="btn-group btn-group-xs">
                        <a href="@Url.Action("trash", "Banks", new {id = item.Id})"
                           class="btn btn-danger"
                           data-post="هل تريد ألغاء الدرجة @item.Name">
                            سلة المهملات <i class="fa fa-trash"></i>
                        </a>
                        <a href="#" class="btn btn-danger dropdown-toggle"
                           data-toggle="dropdown">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu ">
                            <li>
                                <a href="@Url.Action("delete", "Banks", new {id = item.Id})" data-post="هل تريد حذف الدرجة حذف نهائى ؟!!">
                                    <i class="fa fa-remove"></i>
                                    حذف
                                </a>
                            </li>
                        </ul>

                    </div>
                }*@
                @*else
            {
            <a href="@Url.Action("restore", "Banks", new {id = item.Id})"
               class="btn btn-success"
               data-post>
                أعادة القسم <i class="fa fa-retweet"></i>
            </a>

            }*@
            </div>


        </td>
    </tr>
}